/* BODY */
body {
  background-color: #d8d4c9;
  /* background-color: #c9d8d1; */
  display: flex;
  flex-direction: column;
  min-height: 60vh;
  margin: 0;
}

/* HEADER */

.collapsible-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.collapsible-header.collapsed {
  transform: translateY(-100%);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-content h1 {
  margin: 0;
  font-size: 1.5rem;
}

.header-content nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.header-content nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

@media (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
}

body .main-image {
  width: 640;
  height: 360;
  text-align: center;
  /* margin-top: 20px; */
  max-width: 100%;
  height: auto;
}

/* GALLERY */

.memorial-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 70px; /* Adjusted to account for the fixed header */
  /* border-top: 2px solid #ccc; */
}

.memorial-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.memorial-item:hover {
  /* transform: translateY(-5px); */
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

.memorial-item img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.memorial-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.memorial-item p {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* MODAL */

.modal-container .modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-container .modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-container .modal-content .modal-close {
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.modal-container .modal-content .modal-close:hover {
  color: red;
}

.modal-container .modal-content input {
  font-family: inherit;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-container .modal-content textarea {
  font-family: inherit;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
  resize: none;
}
